<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <a class="logo-nav" href="/">
        <img src="https://lh3.googleusercontent.com/fxBEPzc-TSycO2wbfC0OCZlhCdalG4raWv3KBx1QJ3x25ftZARu2rkZubT0XiwRZoa15Z4s8rSant631c0JJEmxR59b3y-CQxIGnn7Y
                " alt="logo">
        </a>    
        <nav>
            <br>
            <input type="text" class="buscador" placeholder="Buscar productos, marcas">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <br>
            <div class="subtitulo">
            <i class="fa-solid fa-hand-holding-dollar"></i> 
            <span>Comprá en cuotas y sin tarjeta de crédito</span> 
            </div>
            <ul class="site-nav">
                <li><a href="#">Ofertas</a></li> 
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="login-navbar">
                <li><a href="#">Creá tu cuenta</a><i class="fa-solid fa-user"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
            <div class="burger-menu">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
                </div>
        </nav>
    </header>
    
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article>
                <img src="https://minicuotas.ribeiro.com.ar/images/products/large/007020058000.jpg" alt="Cafetera Moulinex">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="https://m.media-amazon.com/images/I/81aot0jAfFL._AC_SL1500_.jpg" alt="MacBook Pro 2019">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="https://celutronic.com/wp-content/uploads/2019/02/samsung-galaxy-s10-1.jpg" alt="Samsung Galaxy S10">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="https://images.fravega.com/f1000/0ec3af99701dbf0665ec61ea3816b028.jpg" alt="Smart tv Samsung 43">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">Smart tv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <article>
                <img src="https://minicuotas.ribeiro.com.ar/images/products/large/007020058000.jpg" alt="Cafetera Moulinex">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="https://m.media-amazon.com/images/I/81aot0jAfFL._AC_SL1500_.jpg" alt="MacBook Pro 2019">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="https://celutronic.com/wp-content/uploads/2019/02/samsung-galaxy-s10-1.jpg" alt="Samsung Galaxy S10">
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <br>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="https://images.fravega.com/f1000/0ec3af99701dbf0665ec61ea3816b028.jpg" alt="Smart tv Samsung 43">
                <br>
                <i class="fa-solid fa-truck"></i>
                <div class="div-articulos">
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">Smart tv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    
    <footer>
        <div class="iconos-footer"><i class="fa-solid fa-credit-card"></i></div>
        <p class="titulares-footer"><b>Pagá con tarjeta o en efectivo</b></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
        <p class="titulares-footer"><b>Envío gratis desde $2.500</b></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
        <p class="titulares-footer"><b>Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>

