header {
    background-color: #EAC926;
    padding: 20px;
}


body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

article{
    margin-bottom: 10px;
    background-color: white;
    width: 95%;
    position: relative;
    left: 2.5%;
    display: inline-block;
}

article img{
    display: flex;
    flex-wrap: wrap;
}

.logo-nav img{
    width: 100%;
    display: flex;
}

.subtitulo {
    text-align: center;
    margin-top: 10px;
}

.precio {
    font-size: 18px;
    margin-bottom: 0px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.titulares {
    font-size: 24px;
}

.descuentos {
    font-size: 16px;
    color: green;
    margin-top: 0px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.descripciones {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.burger-menu{
    background-color:#03264C;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 15px;
}

.burger-menu a {
    padding: 0;
}

.fa-bars{
    color: #ffffff;
}

footer {
    text-align: center;
}

img{
    width: 100%;
}

.iconos-footer{
    font-size: 2em;
    margin-bottom: 1px;
    color: #03264C;
}

.titulares-footer{
    font-size: 24px;
    margin: 0%;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 82%;
    color: #39b54a;
    order: 3;
}

.div-articulos{
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descripciones{
    display:none ;
}

.site-nav{
    display: none;
}

.login-navbar{
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 15px 0;
    font-size: 17px;
}




/*                MEDIA QUERIES  */

@media (min-width: 769px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        margin: 2%;
    }
    .descripciones{
        display:block;
    }

    .site-nav{
        display: flex;
    }
        
    .login-navbar{
        display: flex;
    }

    header {
        display: flex;
    }

    .burger-menu{
        display: none;
    }
}

@media (min-width: 1280px){

    article{
        width: 20%;
        margin: 1,5%;
    }

}