<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo" alt="logo-mercado-liebre">
            <form action="" method="get" class="buscador-form">
                <input type="text" class="buscador" placeholder="Buscar productos, marcas">
                <button type="submit" class="boton-buscar"><i class="fa-sharp fa-solid fa-magnifying-glass" id="lupita"></i></button>
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <a class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="form-content">
            <form action="/usuario" method="post" class="signup-form">
        <div class="control-formulario">
            <label>Nombre y apellido:</label>
            <input type="text" name="nombre" class="control input-style">
        </div>
        <div class="control-formulario">
            <label>Nombre de usuario:</label>
            <input type="text" name="username" class="control input-style">
        </div>
        <div class="control-formulario">
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha-nacimiento" class="control input-style">
        </div>
        <div class="control-formulario">
            <label>Domicilio:</label>
            <input type="text" name="domicilio" class="control input-style">
        </div>
        <div class="control-formulario">
            <label>Perfil del usuario:</label>
            <input type="radio" name="perfil" value="Vendedor">
            <span>Vendedor</span>
            <input type="radio" name="perfil" value="Comprador">
            <span>Comprador</span>
        </div>
        <div class="control-formulario-checkbox">
            <label>Categorías de interés:</label>
            <div>
                <label>Electro</label>
                <input type="checkbox" name="electro" class="checkbox-register">
            </div>
            <div>
                <label>Moda</label>
                <input type="checkbox" name="moda" class="checkbox-register">
            </div>
            <div>
                <label>Hogar</label>
                <input type="checkbox" name="hogar" class="checkbox-register">
            </div>
            <div>
                <label>Juguetería</label>
                <input type="checkbox" name="jugueteria" class="checkbox-register">
            </div>
            <div>
                <label>Vida sana</label>
                <input type="checkbox" name="vida-sana" class="checkbox-register">
            </div>
        </div>
        <div class="control-formulario">
            <label>Foto de perfil:</label>
            <input type="file" name="avatar">
        </div>
        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="password" class="control input-style">
        </div>
        <div class="control-formulario">
            <label>Confirmar contraseña:</label>
            <input type="password" name="password-confirm" class="control input-style">
        </div>
        <button type="reset" class="botones">Borrar</button>
        <button type="submit" class="botones">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <div class="footer-container"> 
            <div>
                <i class="fa-solid fa-credit-card iconos-footer"></i>
                <p class="titulares-footer"><b>Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            
            <div>
                <i class="fa-solid fa-gift iconos-footer"></i>
                <p class="titulares-footer"><b>Envío gratis desde $2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <i class="fa-solid fa-user-shield iconos-footer"></i>
                <p class="titulares-footer"><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>